@media screen and (min-width: 0){
    .sobre{
        height: 100vh;
        position: relative;
        border-bottom: var(--bordaTransicao)
    }
    
    .sobre .container {
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        align-items: center;
        display: flex;
        margin: 0 1.5rem;
    }

    .sobre__foto {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .sobre .container{
        top: 45%;
        transform: translate(0, -55%);
        margin: 2.5rem 1.5rem 0 1.5rem;
    }

    .sobre__foto {
        display: block;
        width: 380px;
    }
}

@media screen and (min-width: 1800px) {
    .sobre .container {
        top: 50%;
        transform: translate(0, -50%);
    }
    
    .sobre__foto {
        width: 500px;
    }
}