.cabecalho__nav__links {
    font-family: var(--ubuntuMono);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.cabecalho__nav__links:hover {
    border-radius: 5px;
    border-bottom: 2px solid white;
}

.cabecalho__nav__links.ativo {
    border-radius: 5px;
    border-bottom: 2px solid #808080;
}