:root {

    --ubuntu: 'Ubuntu', sans-serif; /* Light 300, Medium 500 */
    --ubuntuMono: 'Ubuntu Mono', monospace; /* Regular 400, Bold 700 */

    --titulo: 4rem;
    --texto: 2.5rem;

    --tamanhoBotao: 1rem;
    --borda: 5rem;
    --bordaTransicao: 5px solid white;

    --titulo-mobile: 2.5rem;
    --texto-mobile: 1.25rem;

    --tamanhoBotao-mobile: .5rem;
}

html {
    background-image: url("../img/bg2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    scroll-behavior: smooth;
}

.botao:hover {
    padding: 1.5rem;
    transition: .2s;
}

@media screen and (min-width: 0){
    .titulo{
        color: white;
        font-size: var(--titulo-mobile);
        font-family: var(--ubuntu);
    }

    .subTitulo{
        margin-top: 1rem;
        color: white;
        font-size: var(--texto-mobile);
        font-family: var(--ubuntuMono);
        margin-bottom: 4rem;
    }

    .botao{
        font-family: var(--ubuntuMono);
        font-size: var(--titulo-mobile);
        border: 2px solid white;
        border-radius: var(--tamanhoBotao-mobile);
        color: white;
        padding: var(--tamanhoBotao-mobile);
        text-decoration: none;
        background: rgba(100, 100, 100, .5);
    }
}

@media screen and (min-width: 768px){
    .titulo{
        font-size: var(--titulo);
    }
    
    .subTitulo {
        font-size: var(--texto);
    }

    .botao{
        border-radius: var(--tamanhoBotao);
        padding: var(--tamanhoBotao);
    }
}